@CHARSET "UTF-8";

#content {
	width: 800px;
	margin: 0px auto;
}

body {
	height: 101%;
	font-family: "sans-serif, DejaVu Sans";
	text-align: center;
}

#posts {
	margin: 0 auto;
	width: 780px;
	background-color: #e5e5e5;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	padding: 20px;
}

.date_new {
	font-weight: bold;
	float: right;
	color: red;
	font-style: italic;
}

.title {
	float: left;
	font-weight: bold;
}

.author_name {
	float: right;
	margin-right: 7px;
	border-right: 1px solid #bbb;
	padding-right: 4px;
}

.date {
	float: right;
	color: #bbb;
	font-style: italic;
	
}
