#form {
	margin-bottom: 20px;
	border: 1px solid #333;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	display: block;
	float: left;
}

#cap {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-topleft: 8px;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	background-color: #0095cd;
	color: #fff;
	font-weight: bold;
	padding: 6px;
	left: 0px;
	right: 0px;
	clear:both;
	display: block;
	float: left;
	clear: both;
}
	
#form fieldset {
	border: none;
	padding: 8px;
}

#form label {
	float: left;
}

#form .text {
	width: 320px;
}

#form input {
	padding: 4px;
	font-size: 16px;
}
	
#form textarea {
	height: 100px;
	width: 320px;
	padding: 4px;
	font-size: 16px;
}

#form .required {
	color: red;
	font-weight: bold;
}

#wrapper {
	margin: 0px auto;
	width: 340px;
	text-align: left;
}

#form #submit {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	cursor: pointer;
	text-decoration: none;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	font-weight: bold;
	margin-top: 4px;
}
