@CHARSET "UTF-8";
	
#content {
	display: none;
}

.topic { 
	border: 2px solid #333;
	padding: 6px;
	float: left;
	width: 100%;
	background-color: #fff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin-top: 15px;
}

#error_topic {
	background-color: #e97e7e;
	border: #333 1px solid;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: left;
}

#error_topic ul {
	list-style-position: inside;
	margin-top: 8px;
	margin-bottom: 8px;
}
